* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínima altura de toda la ventana */
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd50;
}

.header .icon img, .header .menu img {
    width: 30px;
    height: auto;
}

main {
    flex: 1; /* Toma todo el espacio disponible en la columna */
    padding: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image-container img {
    width: 40vh;
    border: 3px solid #353535;
    border-radius: 8px;
}

.text-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #272727;
}

.text-content a {
    color: #3366cc;
    text-decoration: none;
}

.text-content a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

.footer nav {
    display: flex;
    justify-content: space-around;
}

.footer a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}