/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.container {
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 375px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    margin: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e0e0e0; 
    padding: 20px 0px 20px 0px;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0px 10px 0px 0px;
}

.logoTexto{
    width: 200px;
    height: auto;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #222;
    margin-left: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background-color: #3367d6;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #2a56c6;
}

.links {
    display: block;
    margin-bottom: 20px;
}

.links a {
    font-size: 14px;
    color: #3367d6;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.register-btn {
    background-color: #777;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #666;
}